@use './partials/variables.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import 'bootstrap/scss/bootstrap';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-btn{
  background-image: $active-special-lingrad;
  color: $white-d1-text;
  border: none;
  width: 165px;
  height: 35px;
  box-shadow: 0 0 15px 1px $palered-bg;
  position: relative;
  overflow: hidden;
  transition: background-image .5s, box-shadow 1s;

  .layover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    opacity: 0;
    border-radius: 50%;
    background-image: $linGrad-lightblack-black100;
    z-index: 20;
    transition: transform .5s ease-in-out;
  }

  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 25;
    font-size: .6125rem;
  }

  &:hover{
    box-shadow: none;

    .layover{
      transform: scale(200);
      opacity: 1;
    }
  }
}

.custom-separator{
    span{
      display: inline-block;

      &:first-of-type{
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background-image: $active-special-lingrad;
        margin-right: 10px;
      }

      &:last-of-type{
        height: 10px;
        width: 70px;
        border-radius: 10px;
        background-image: $active-special-lingrad;
      }
    }
}

.custom-container{
  width: 98%;
  margin: 0 auto;
}